body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
nav{
    background-color: #edf4b6;
    height: 10px;
    padding: 50px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 90px;
}
nav {
    background-color: #444;
    text-align: center;
    padding: 0.5em 0;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.pet {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: grid;
}
img {
    max-width: 50%;
    max-height: 50%;
    height: auto;
    border-radius: 8px;
}
.box {
    display: flex;
    flex-wrap: wrap; 
}

.top-right img {
    width: 400px;
    height: 300px;
    margin-left: 10px; 
    order: 1; 
}

.top-left img {
    width: 400px;
    order: 2; 
}
.bottom-left img {
    width: 500px;
    height: 300px;
    margin-left: 10px; 
    order: 3; 
}

.bottom-right img {
    width: 400px;
    margin-top: 30px; 
    order: 4; 
}


h2 {
    color: #333;
}
p {
    color: #666;
}
footer{
    background-color: #edf4b6;
    text-align: center;
}